<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        display: block;
      }
    </style>
  </head>
  <body>
    <ul>
      <li>
        <a href="/auth/logout"> logout </a>
      </li>
      <li>
        <a href="/auth/login"> login </a>
      </li>
      <li>
        <a href="/">Home Page</a>
      </li>
    </ul>
    <header>
      <h1>Login using...</h1>
    </header>
  </body>
</html>
